@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
  background-color: black;
  width: 10px;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb{
  background-color: #fff;
  border-radius: 50px;
}